@model Signyourself2012.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>File</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThumbnailUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThumbnailUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAlbumCover)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAlbumCover)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkSource.WebsiteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkSource.WebsiteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
