@model Signyourself2012.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.itemID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.itemID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ActivityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
