@model Signyourself2012.Models.Profile

@{
    ViewBag.Title = "Edit Profile";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PropertyNames)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PropertyNames)
            @Html.ValidationMessageFor(model => model.PropertyNames)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PropertyValueStrings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PropertyValueStrings)
            @Html.ValidationMessageFor(model => model.PropertyValueStrings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastUpdatedDate)
            @Html.ValidationMessageFor(model => model.LastUpdatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Blurb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Blurb)
            @Html.ValidationMessageFor(model => model.Blurb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Skills)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Skills)
            @Html.ValidationMessageFor(model => model.Skills)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Middle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Middle)
            @Html.ValidationMessageFor(model => model.Middle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
            <input type="text" id="DOB">
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
