@model Signyourself2012.Models.Profile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyNames)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PropertyValueStrings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PropertyValueStrings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blurb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blurb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Skills)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Skills)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Middle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Middle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
