@model IEnumerable<Signyourself2012.Models.Ref_CampaignUsers>
@{ var db = new Signyourself2012.Models.SignYourselfEntities();
   var Campaign_members = Model.Where(CM => CM.RelationshipTypeID == 1);
}
<h2 class="project-heading">
    @Campaign_members.Count() Members</h2>
<!-- thumbs -->
<div class="List-thumbs clearfix sm">
    @foreach (Signyourself2012.Models.Ref_CampaignUsers cu in Campaign_members)
    {
        <figure>
            <figcaption class="clearfix">
                <strong>@cu.User.UserName</strong> <em>@cu.User.<em>
            </figcaption>
            <a href="~/Users/view/@cu.UserID" class="thumb">
                <img src="@cu.User.Profile.Avatar" alt="@cu.User.UserName" /></a>
        </figure>
    }
</div>
<!-- ends thmbs-->
