@model IEnumerable<Signyourself2012.Models.Goal>
<section class="block">
    <h4>
        GOALS</h4>
    <div class="Goals-Block">
        @{ 
            var j = 1;
            var jclassify = "";
            foreach (Signyourself2012.Models.Goal g in Model)
            {
                jclassify = (j % 2 == 0) ? "even" : "odd";
                                    
            <div id="Goal_@g.GoalID" class="Goal_@jclassify">
                <div>@g.GoalType.Name</div>
                <div>@g.Name</div>
                <div>@g.Description</div>
                <div>@g.TargetNum</div>
                <div>@g.CurrentQTY</div>
                <progress max="@g.TargetNum" value="@g.CurrentQTY" >
                </progress>
                <div>@g.ExpDate.Subtract(DateTime.Today).TotalDays days left</div>
                @{Html.RenderPartial("_GoalRewards",g.Rewards);}
            </div>     
                    
            }
        }
    </div>
</section>