@model Signyourself2012.Models.CampaignUpdate

<script src="~/Scripts/jquery-1.6.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("create","CampaignComments")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CampaignUpdate</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CampaignID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CampaignID)
            @Html.ValidationMessageFor(model => model.CampaignID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Approved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Approved)
            @Html.ValidationMessageFor(model => model.Approved)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InReplyTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InReplyTo)
            @Html.ValidationMessageFor(model => model.InReplyTo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DonateLocked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DonateLocked)
            @Html.ValidationMessageFor(model => model.DonateLocked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LikeLocked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LikeLocked)
            @Html.ValidationMessageFor(model => model.LikeLocked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrivacyLevelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrivacyLevelID)
            @Html.ValidationMessageFor(model => model.PrivacyLevelID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
