@model Signyourself2012.Models.Campaign

<h2>Edit</h2>

@using (Html.BeginForm("edit","Campaigns")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Campaign</legend>

        @Html.HiddenFor(model => model.CampaignID)
          @Html.HiddenFor(model => model.UserId)
        <div class="editor-label">s
            @Html.LabelFor(model => model.Name, "Campaign Title")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CampaignTypeId, "Campaign Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CampaignTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.CampaignTypeId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.GenreID, "Music Genre")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GenreID", String.Empty)
            @Html.ValidationMessageFor(model => model.GenreID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Intro,"A Little Intro") (150 Chars or less)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Intro)
            @Html.ValidationMessageFor(model => model.Intro)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Email, "Contact Email Adress")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate,"End Date" )
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
         <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
