@model Signyourself2012.Models.Goal


<h2>Edit</h2>

@using (Html.BeginForm("edit","Goals")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Goal</legend>

        @Html.HiddenFor(model => model.GoalID)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.GoalTypeID, "Goal Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GoalTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.GoalTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TargetNum,"Target Number")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetNum)
            @Html.ValidationMessageFor(model => model.TargetNum)
        </div>

   
        <div class="editor-label">
            @Html.LabelFor(model => model.QtyMax, "Maximum Amount")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QtyMax)
            @Html.ValidationMessageFor(model => model.QtyMax)
        </div>
         
        <div class="editor-label">
            @Html.LabelFor(model => model.ExpDate,"Expiration Date")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpDate)
            @Html.ValidationMessageFor(model => model.ExpDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DateCreated)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Private)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Private)
            @Html.ValidationMessageFor(model => model.Private)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentQTY)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CurrentQTY)
        </div>

       
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
