@model Signyourself2012.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seller.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seller.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ItemID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QTY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QTY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Approved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Approved)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
